header nav#navbar {
    margin-right: 0px;
}

header .logo {
    height: 65px;
}

header .headerBottomArea {
    padding: 15px 0;
}

header nav#navbar > ul {
    border-right: 0px;
}

.menuCol {
    line-height: 65px;
}

.homeContent span.h2 {
    font-size: 31px;
}

.homeBtn {
    margin-top: 35px;
}

header .topInfo.left {
    text-align: left;
}

header .topInfo.left li:first-child a {
    margin-left: 0px;
}

.singlePrice.height1 {
    min-height: 650px;
}

.singlePrice.height2 {
    min-height: 815px;
}

.singlePrice.height3 {
    min-height: 900px;
}

.priceBody.margin1 {
    /*margin-bottom: 220px;*/
}

.priceBody.margin2 {
    /*margin-bottom: 110px;*/
}

.priceBody.margin3 {
    margin-bottom: 30px;
}

.singleTst {
    min-height: 225px;
}

.vc_custom_1465907673480 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.row.block-1 {
    margin-top: -45px;
}

.box {
    position: relative;
    cursor: pointer;
    color: #16a085;
    height: 100%;
}

.services-box {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #f5f5f5;
    text-align: center;
    padding: 3rem 3rem 3.5rem;
}

.services-box.box {
    border: 0;
    margin: 0 0 4.5em;
}

.row.block-1 .services-box.box {
    border: 0;
    margin: 4.5em 0 0;
}

.box svg {
    position: absolute;
    top: 0;
    left: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.services-box.box svg line {
    stroke: #f5f5f5;
}

.services-box.box svg line {
    stroke-width: 8;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.services-box.box svg line.bottom,
.services-box.box svg line.top {
    stroke-dasharray: 115% 100%;
}

.services-box.box svg line.left,
.services-box.box svg line.right {
    stroke-dasharray: 80% 100%;
}

.services-box .icons {
    margin: 0 0 1rem;
}

.partnerService {
    text-align: left;
    padding: 20px;
    background: #fff;
    border: 1px solid #e4e4e4;
    transition: all 0.3s;
    min-height: 350px;
}

.partnerService:hover {
    box-shadow: 0 4px 4px rgba(1, 67, 163, 0.24), 0 0 4px rgba(1, 67, 163, 0.12), 0 6px 18px rgba(43, 133, 231, 0.12);
    text-decoration: none;
    transform: translate3d(0, -2px, 0);
}

.partnerContent p {
    padding: 0 20px;
}

.singleService .partnerIcon {
    height: 100%;
}

.image__ribon {
    position: absolute;
    right: 10px;
    background: #288feb;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-weight: 600;
    top: 18px;
    font-size: 12px;
}

.image__ribon:after {
    position: absolute;
    right: 0px;
    bottom: -5px;
    border-top: 5px solid #00887c;
    width: 5px;
    content: " ";
    display: block;
    border-right: 5px solid #f6f6f6;
}

.businessService {
    text-align: left;
    line-height: 24px;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background: #fff;
    border: 1px solid #efefef;
    padding: 24px 0;
    margin-top: 30px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.businessService .icon-box,
.businessService .text-box {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 1px;
}

.businessService .text-box p {
    margin-bottom: 0px;
}

.businessService:hover {
    background: url(../../img/bg-hover1.jpg);
}

.businessService:hover h4,
.businessService:hover p,
.businessService:hover ul li {
    color: #fff;
}

.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a {
    background: #3FA5FF
}

.morphext-text.heading {
    color: #233141;
    font-size: 30px;
    line-height: 40px;
}

.js-rotating.morphext {
    color: #3FA5FF;
}

.heading-block p {
    line-height: 24px;
    padding-right: 15px;
}

.service-block .inner {
    border: 1px solid #e4e4e4;
}

.service-block .inner img {
    width: 100%;
}

.service-content {
    padding: 20px;
}

.mt-0 {
    margin-top: 0px;
    min-height: 0;
}

.image_about {
    width: 100%;
    height: 220px;
}

.about_img_wrapper {
    width: 180px;
    height: 180px;
    overflow: hidden;
    padding: 1%;
    /*border: 2px solid rgba(40,143,235,0.4);/*#288feb;*/
    border-radius: 50%;
    */
}

.about_img_wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.descr1 {
    text-align: left;
    padding-top: 1%;
}

.descr1 h2 {
    color: #009cdd;
    /*rgba(40,143,235,0.6);/*;*/
}

.descr1 h4 {
    color: rgba(40, 143, 235, 0.4);
}

.descr1 p strong {
    color: rgba(0, 0, 0, 0.4);
}

.short_faq {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.short_heading a {
    padding-left: 2%;
    color: #627891;
}

.comingSoon {
    margin-top: 4%;
    margin-bottom: 4%;
}


/*22/6/17*/

.v2 form.domainForm {
    width: 100%;
}

.v2 .domainTop > input[type="email"] {
    width: 64%;
}

.secPdng1 {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.style2.accordion > dt:last-child {
    border-bottom: 0px;
}

.gstBlog {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.gstBlog p {
    font-size: 16px;
    line-height: 24px;
}

hr.title_break {
    width: 50px;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    border-color: #288feb;
    border-top: 2px solid #288feb;
}

hr.title_break {
    border-color: #288feb;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .homeContent {
        padding: 40px 0;
    }
    .homeContent span.h2 {
        font-size: 25px;
        line-height: 40px;
        padding-right: 0px;
    }
    .secPdng {
        padding: 40px 0;
    }
    .mtop30 {
        margin-top: 30px;
    }
    .navbar-header {
        right: 15px;
    }
    .heading-block {
        margin-bottom: 30px;
    }
    .sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
        margin: 5px;
    }
}

.businessService .text-box h4 i {
    color: #288feb
}

.businessService:hover .text-box h4 i {
    color: #fff
}

.faq_wrapper {
    width: 100%;
    overflow: hidden;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    min-height: 500px;
    background: #fff;
    margin-bottom: 30px;
    padding: 20px 0;
}

.faq_wrapper > .qGroupName {
    width: 25%;
    float: left;
    padding: 0 20px;
}

.faq_wrapper > .qQA {
    width: 75%;
    float: left;
    padding: 0 20px;
}

.custom-faq-nav>li.active>a,
.custom-faq-nav>li.active>a:focus,
.custom-faq-nav>li.active>a:hover {
    color: #fff;
    background-color: #288feb;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

#qgroupDropdown>li.active>a,
#qgroupDropdown>li.active>a:focus,
#qgroupDropdown>li.active>a:hover {
    background-color: white;
    color: #333;
}

@media screen and (min-width:320px) and (max-width: 767px) {
    .faq_wrapper > .qGroupName {
        width: 100%;
    }
    .faq_wrapper > .qQA {
        width: 100%;
    }
}

.mtop60{
    margin-top: 60px;
}

.sp-simpleportfolio-overlay-wrapper{
    max-height: 275px;
    overflow: hidden;
}

.contactForm > div:first-child{
    width: 96.6%;
}